<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjsIkAH8TYVkGDxvdlYjpssBCd1OOjjhc</string>
	<key>GCM_SENDER_ID</key>
	<string>4332200019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mangerPlus</string>
	<key>PROJECT_ID</key>
	<string>manger-app-3aa3b</string>
	<key>STORAGE_BUCKET</key>
	<string>manger-app-3aa3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4332200019:ios:4a69902167af2b5078e6a6</string>
</dict>
</plist>